body {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: #dddddd solid 1px; }
  .header header {
    padding: 25px 0; }
    .header header h1 a {
      color: #000000;
      text-decoration: none; }
  .header .App-title {
    /* title: */
    font-family: "NanumBrush";
    font-size: 48px;
    color: #000000;
    margin: 0; }
  .header .nav {
    display: inline-flex;
    padding: 0;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600; }
    .header .nav .link-seperator {
      padding: 0 7px;
      color: rgba(0, 0, 0, 0.1); }
  .header .nav-item {
    list-style: none; }
    .header .nav-item .nav-link {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      white-space: nowrap; }
      .header .nav-item .nav-link:hover {
        color: #000000; }
    .header .nav-item .active {
      color: #000000; }

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */
/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */
/* .App-title {
  font-size: 1.5em;
} */
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
