$font-path: './fonts/';
@import './fonts/medium-content-sans-serif-font';
@import './fonts/medium-content-serif-font';
@font-face {
    font-family: 'Proxima Nova';
    src: url($font-path + 'AltRegular-webfont.eot');
    src: url($font-path + 'AltRegular-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-path + 'AltRegular-webfont.woff') format('woff'),
        url($font-path + 'AltRegular-webfont.ttf') format('truetype'),
        url($font-path + 'AltRegular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text Light';
    src: url($font-path + 'SF-Pro-Text-Light.otf');
}

$background-color: #f5f5f5;
$navlink-color: rgba(0,0,0,0.55);
$link-seperator-color: rgba(0,0,0,0.1);
$border-color: #dddddd;
$main-text-color : rgba(0,0,0,.84);
$active-link-color: #000000;
$button-color: rgb(39,39,39);
$header-title-font: 'NanumBrush';
$nav-link-font: 'Proxima Nova';
// $main-title-font: 'AvenirNext-Medium';
$main-title-font: 'medium-content-sans-serif-font';
// $main-title-font: 'elevate-display-font,medium-marketing-display-font,Georgia,Cambria,Times,serif';
// $main-text-font: 'AvenirNext-Regular';
$main-text-font: 'medium-content-serif-font';
$footer-font: 'SF Pro Text Light';

html {
    * ::selection {
        background: $link-seperator-color;
    }

    button:active, button:focus {
        outline: none;
        box-shadow: none;
    }
}

body {
    // max-width: 1200px;
    // margin: 0 auto;
    font-family: $main-text-font, serif;
    color: $main-text-color;
}

// Header
.header {
    text-align: center;
    color: $navlink-color;
    // background: $background-color;
    // background: #0abab5;
    // background: #99ECEA;
    border-bottom: $border-color solid 1px;

    header {
        padding: 25px 0;
        
        h1 a {
        // color: $main-text-color;
        color: black;
        text-decoration: none;
        }
    }

    .App-title {
        /* title: */
        font-family: $header-title-font;
        font-size: 48px;
        margin: 0;
    }

    .nav {
        display: block;
        padding: 0;
        margin: 14px auto;
        font-family: $nav-link-font;
        font-size: 14px;
        font-weight: 600;

        .link-seperator {
        padding: 0 7px;
        color: $link-seperator-color;
        }
    }

    .nav-item {
        list-style: none;
        display: inline-block;
        line-height: 1.8em;

        .nav-link {
        color: $navlink-color;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: nowrap;
        
        &:hover {
            color: $main-text-color;
        }
        }

        .active {
        color: $active-link-color;
        }
    }
}

// Book
.book {
    max-width: 1200px;
    padding: 0 3%;
    margin: 1em auto;
    
    @media (min-width: 600px) { 
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-column-gap: 2em;
        }

        .book-pic-container {
            grid-column-start: 1;
            grid-column-end: 2;

            .book-link {
                width: 100%;
                box-sizing: border-box;
                margin-right: 2em;
            }
        }

        .book-introduction {
            grid-column-start: 2;
            grid-column-end: 5;
        }
    
        .book-review {
            grid-column-start: 1;
            grid-column-end: 5;
        }
    }

    .book-pic-container {
        margin-top: 18px;
        margin: 1.5em 0 0 0;
        text-align: center;
        
        .book-img{
            max-width: 100%;
            margin: 0; 
        }

        .book-link {
            display: block;
            text-decoration: none;
            border: $button-color solid 2px;
            color: $button-color;
            font-family: $nav-link-font;
            text-align: center;
            font-size: 14px;
            padding: 1em;
            margin-top: 0.5em;
            transition: background 0.2s, color 0.2s;

            &:hover {
                background: $button-color;
                // color: rgb(221,138,54);
                color: white;
            }
        }
    }

    .book-text {
        text-align: justify;
        word-break: -2px;
    }

    .book-review > li, .more-book-review > li {
        list-style: none;
    }

    .hidden {
        visibility: hidden;
        height: 0;
        
        & > * {
            visibility: hidden;
            height: 0;
        }
    }

    .main-title {
        // font-family: $main-title-font, sans-serif;
        // font-family: 'AvenirNext-Regular';
        font-family: $footer-font;
        font-size: 26px;
        font-weight: 500;
        line-height: 40px;
        font-style: normal;
        padding: 0 0 10px 0;
        border-bottom: $border-color 1px solid;
    }

    .book-text {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: -0.003em;
    }

    .review-button {
        // width: 165px;
        text-align: center;
        border: $button-color solid 2px;
        cursor: pointer;
        color: $button-color;
        background: white;
        font-family: $nav-link-font;
        font-size: 14px;
        padding: 1em 2em;
        transition: background 0.2s, color 0.2s;

        &:hover {
            background: $button-color;
            color: white;
        }

        &::selection {
            background: none;
        }
    }

    .commentor {
        text-align: right;
    }

    .magazine {
        font-style: italic;
    }

}

.footer {
    margin-top: 2em;
    // font-family: $nav-link-font;
    // font-family: $header-title-font;
    font-family: $footer-font;
    font-weight: 100;
    font-size: 11px;
    color: $navlink-color;
    text-align: center;
    border-top: $border-color solid 1px;
    // background: $background-color;
    padding: 1em;

    &:hover {
        color: $main-text-color;
    }

    .taojiang {
        font-family: $header-title-font;
        font-size: 150%;
    }
}





















// h1 {
//     text-align: left;
//     font-family: medium-content-sans-serif-font, sans-serif;
//     position: relative;
//     line-height: 60%;
//     font-size: 34px;
//     color: rgba(0, 0, 0, .8);
//     line-height: 1;
// }

// body {
//     padding: 2rem;
//     font-family: medium-content-serif-font, serif;
//     width: 45%;
//     margin: auto;
//     text-align: left;
//     line-height: 34px;
//     color: #1e1e1e;
//     font-weight: 100;
//     font-size: 20px;
// }
